@import url("https://fonts.googleapis.com/css2?family=Shojumaru&family=Teko:wght@300..700&display=swap");

/* === VARIABLES === */

:root {
  --primary-color: #d62828;
  --text-color: #ffffff;
  --title-color: #f5eee6;
  --background-color: #0b0b0b;
  --background-color-2: #151515;
  --border: #d62828;
  --corner: 8px;
}

/* === STYLE PAR DEFAUT === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === RESET === */
body {
  font-family: "Teko", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

li {
  list-style-type: none;
}

button {
  border: none;
}

/* === CONTAINER === */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* === HEADER === */
header {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border);
}

header .container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 100px;
}

/* === TITLE === */

h1 {
  font-family: "Shojumaru", cursive;
  color: var(--title-color);
  text-shadow:
    2px 3px 3px #000000,
    3px 4px 5px var(--primary-color);
  font-size: 2.5rem;
}

h2 {
  font-family: "Shojumaru", cursive;
  font-size: 2rem;
  color: var(--title-color);
  text-align: center;
  text-shadow:
    4px 4px 0 #000000,
    -2px -2px 0 var(--primary-color),
    2px -2px 0 var(--primary-color),
    -2px 2px 0 var(--primary-color),
    2px 2px 0 var(--primary-color);
}

main {
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("assets/image/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main p {
  font-size: 1.3rem;

  text-shadow: 2px 3px 1px #000000;
  margin: 10px;
}

#pendu {
  width: 500px;
  height: auto;
  display: block;
  margin: 20px auto;
}
